<table class="container">
    <thead>
      <tr>
        <th><h3>ID</h3></th>
        <th><h3>Username</h3></th>
        <th><h3>Normalized Username</h3></th>
        <th><h3>Full Name</h3></th>
        <th><h3>Email</h3></th>
        <th><h3>Action</h3></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
        <td>{{user.id }}</td>
        <td>{{user.userName}}</td>
        <td>{{user.normalizedUserName}}</td>
        <td>{{user.fullName}}</td>
        <td>{{user.email}}</td>
        <td><button  mat-raised-button type="button" (click)="deleteUser(user.id)"> <i class="material-icons">delete</i></button> </td>
      </tr>
    </tbody>
  </table>       