button.btn-outline-success:hover {
    color: #fff;
    background-color: #008c;
    border-color: #007bff;
}

button.btn.btn-outline-success.my-2.my-sm-0 {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-success[_ngcontent-tyo-c0] {
    color: #007bff;
    border-color: #007bff;
}


.navbar-expand-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: 40px;
}
.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
{
    background-color: #1F2739 !important;
}

div.nav-item h5{
    color: #007bff ;
    margin-right: 30px;
}

div.nav-item h5:hover{
    color: #fff ;
}
