<form [formGroup]="service.formModel" autocomplete="off" submit="onSubmit()">

  <legend id="first">Car Info</legend>
  <div class="form-group required col-md-6">
    <label>Brand</label>
    <input class="form-control" [(ngModel)] = "car.brand" formControlName="brand" placeholder="Brand" maxlength="50" >
    <label class="text-danger" *ngIf="service.formModel.get('brand').touched && service.formModel.get('brand').errors?.required">Brand is required!</label>
  </div>
  <div class="form-group required col-md-6">
    <label>Model</label>
    <input class="form-control" [(ngModel)] = "car.model" formControlName="model" placeholder="Model" maxlength="50">
    <label class="text-danger" *ngIf="service.formModel.get('model').touched && service.formModel.get('model').errors?.required">Model is required!</label>
  </div>
  <div class="form-group required col-md-6">
    <label>Year</label>
    <input class="form-control" [(ngModel)] = "car.year" formControlName="year" type="number" placeholder="(1950 - 2019)" min="1950" max="2019" >
    <label class="text-danger" *ngIf="service.formModel.get('year').touched && service.formModel.get('year').errors?.required">Year is required!</label>
    <label class="text-danger" *ngIf="service.formModel.get('year').errors?.max">Value is greater then current year!</label>
    <label class="text-danger" *ngIf="service.formModel.get('year').errors?.min">Value is less then 1950!</label>
  </div>
  <div class="form-group required col-md-6">
    <label>Price</label>
    <input class="form-control" [(ngModel)] = "car.price" formControlName="price" type="number" min="0" placeholder="(0 € - 2 000 000 €)" min="0" max="2000000">
    <label class="text-danger" *ngIf="service.formModel.get('price').touched && service.formModel.get('price').errors?.required">Price is required!</label>
    <label class="text-danger" *ngIf="service.formModel.get('price').errors?.max">Value is greater then 2 000 000!</label>
    <label class="text-danger" *ngIf="service.formModel.get('price').errors?.min">Value is less then 0!</label>
  </div>
  <div class="form-group required col-md-6">
      <label>Kilometers</label>
      <input class="form-control" [(ngModel)] = "car.kilometers" formControlName="kilometers" type="number" placeholder="(0 - 1 000 000)" min="0" max="1000000">
    <label class="text-danger" *ngIf="service.formModel.get('kilometers').touched && service.formModel.get('kilometers').errors?.required">Kilometers is required!</label>
    <label class="text-danger" *ngIf="service.formModel.get('kilometers').errors?.max">Value is greater then 1 000 000!</label>
    <label class="text-danger" *ngIf="service.formModel.get('kilometers').errors?.min">Value is less then 0!</label>
  </div><hr style="border:1px solid white;margin-top:40px">
  <legend>Engine Info</legend>
  <div class="form-group required col-md-6">
    <label>Fuel</label>
    <select class="form-control" [(ngModel)] = "car.fuel"  formControlName="fuel"  placeholder="Choose value">
        <option [ngValue]="null">Choose a value</option>
      <option value="petrol">Petrol</option>
      <option value="diesel">Diesel</option>
      <option value="electric">Electric</option>
    </select>
    <label class="text-danger" *ngIf="service.formModel.get('fuel').touched && service.formModel.get('fuel').errors?.required">Fuel is required!</label>
  </div>
  <div class="form-group required col-md-6">
    <label>Power</label>
    <input class="form-control" [(ngModel)] = "car.power" formControlName="power" type="number" placeholder="(0 - 999)hp" min="0" max="999" >
    <label class="text-danger" *ngIf="service.formModel.get('power').touched && service.formModel.get('power').errors?.required">Power is required!</label>
    <label class="text-danger" *ngIf="service.formModel.get('power').errors?.max">Value is greater then 999!</label>
    <label class="text-danger" *ngIf="service.formModel.get('power').errors?.min">Value is less then 0!</label>
  </div>
  <div class="form-group required col-md-6">
    <label>Consumption</label>
    <input class="form-control" [(ngModel)] = "car.consumption" formControlName="consumption" type="number"  placeholder="(0 - 99)l/100km"  min="0" max="99" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" >
    <label class="text-danger" *ngIf="service.formModel.get('consumption').touched && service.formModel.get('consumption').errors?.required">Consumption is required!</label>
    <label class="text-danger" *ngIf="service.formModel.get('consumption').errors?.max">Value is greater then 99!</label>
    <label class="text-danger" *ngIf="service.formModel.get('consumption').errors?.min">Value is less then 0!</label>
  </div>
  <hr style="border:1px solid white;margin-top:40px">
  <legend>More details</legend>
  <div class="form-group col-md-12">
    <label>Description</label>
    <textarea class="form-control"  [(ngModel)] = "car.description" formControlName="description" maxlength="900"></textarea>
  </div>
  <div class="form-group col-md-12">
    <label>Image</label>
    <input class="form-control" [(ngModel)] = "car.image" formControlName="image" maxlength="200">
  </div>

  <div class="form-row" >
    <div class="form-group col-md-8 offset-md-2" class="btn-group">
      <button class="btn btn-primary" id="submitBtn" type="submit" [disabled]="!service.formModel.valid" (click)="processForm(car)">{{ isAddAction(car.carID) ? 'Add Car':'Edit Car' }}</button>
      <button class="btn btn-danger" id="resetBtn" type="reset">Reset</button>
    </div>
  </div>
</form>